.fav-icon {
  position: absolute;
  top: 5px;
  left: auto;
  right: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.fav-icon_chosen {
  background-color: rgb(231, 24, 114);
}
